
<!-- Footer -->
<div class="grid">
    <div class="footer-footer">
        <div class="grid wide">
            <div class="row">
                <div class="col l-4 m-6 c-12">
                    <div class="footer">
                            <b> VĂN PHÒNG TÂN PHÁT:</b> <br>
                            <p> Hà Nội: <br>
                             Ngõ 85 Xuân Thủy, Cầu Giấy <br>
                             Bắc Giang: <br> 288 Nguyễn Xuân Lan, TT.Vôi, Lạng Giang <br>
                             Điện thoại: 0982.749.887 <br> Email: kinhdoanhtanphat193@gmail.com </p>
                      

                    </div>
                </div>
                <div class="col l-4 m-6 c-12">
                    <div class="footer">
                        <b> NHÀ MÁY SẢN XUẤT:</b> <br>
                        <p> Khu làng nghề xã Hiệp Thuận, Phúc Thọ, Hà Nội</p>
                    </div>
                </div>
                       <div class="col l-4 m-6 c-12">
                    <div class="footer">
                        <b> Theo dõi chúng tôi tại: </b> <br>
                        <div class="footer-icon">
                            <a href="https://www.facebook.com/giakesiethigiare"> <i class="fab fa-facebook"></i> </a>
                            <a href="https://www.youtube.com/channel/UCmuVm2lOQr9IFkU1EE1nJSQ"> <i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
               
    
            </div>
        </div>  .   
    </div>
</div>
<!-- Ring Phone  -->
<div class="hotline-phone-ring-wrap">
    <div class="hotline-phone-ring">
        <div class="hotline-phone-ring-circle"></div>
        <div class="hotline-phone-ring-circle-fill"></div>
        <div class="hotline-phone-ring-img-circle">
        <a href="tel:0982749887" class="pps-btn-img">
            <img src="https://nguyenhung.net/wp-content/uploads/2019/05/icon-call-nh.png" alt="Gọi điện thoại" width="50">
        </a>
        </div>
    </div>
    <div class="hotline-bar">
        <a href="tel:0982749887">
            <span class="text-hotline">0982.749.887</span>
        </a>
    </div>
</div>

<!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>

    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "1146822005490032");
      chatbox.setAttribute("attribution", "biz_inbox");

      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v11.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>