 <div class="nav_grid">
        <div class="grid">
            <div class="row">
                <div class="col l-12 m-12 c-12">              
                    <div class="nav_bar_grid">
                        <div class="col l-3 m-12 c-12">   

                            <div class="logo-bar">  
                                <div class="col l-12 m-12 c-12">
                                         <div class="logo-bar-2">
                                        <div class="col l-0 m-3 c-3">
                                            <div class="icon-bar">

                                           <input hidden type="checkbox" class="nav-input" id="nav-mobile-input">
                                            <label for="nav-mobile-input" class="nav-overlay"></label>
                                             <label for="nav-mobile-input" class="nav-bars-btn"> <i class="fas fa-bars"></i> </label>  
                                             <ul class="nav-mobile">       
                                             <label for="nav-mobile-input" class="nav-close-btn"> <i class="fas fa-times"></i></label>    

                                                <div class="block-mobile"> 
                                                    <li class="mobile-items mobile-items2"><a href="/"> Trang chủ</a></li>
                                                    <li class="mobile-items"><a href="https://www.youtube.com/watch?v=fdskm9rO1sw" target="_blank"> Giới thiệu</a></li>
                                                    <li class="mobile-items"><a href="/ke-sieu-thi"> Kệ siêu thị</a></li>
                                                    <li class="mobile-items"><a href="/ke-kho"> Kệ kho hàng</a></li>
                                                    <li class="mobile-items"><a href="/thiet-bi-sieu-thi"> Thiết bị siêu thị</a></li>

                                                    <li class="mobile-items"><a href="/ho-tro"> Hỗ trợ</a></li>
                                                    <li class="mobile-items"><a href="tin-tuc"> Tin tức</a></li>                                           
                                                    <li class="mobile-items"><a href="https://www.facebook.com/giakesiethigiare" target="_blank"> Liên hệ</a></li>
                                                    <div class="socal-icon">
                                                        <a href="https://www.facebook.com/giakesiethigiare" target="_blank"> <i class="fab fa-facebook"></i> </a>
                                                        <a href="https://www.youtube.com/channel/UCmuVm2lOQr9IFkU1EE1nJSQ" target="_blank"> <i class="fab fa-youtube"></i></a>
                                                    </div>
                            
                                                    </div>      
    
                                                </ul>                                     
                                                </div>
    
                                            </div>
                                            <div class="col l-12 m-6 c-6">
                                                <div class="logo">
                                                    <a href="/"> <img src="../img/logo.png" alt="logo "></a>
                                                </div>                                           
                                            </div>

                                    </div>                                    
                                 </div>  
                                  

                                <!-- <label for="nav-mobile-input" class="nav-close-btn"> <i class="fas fa-times"></i></label>     -->

                                                   
                                 </div>                               
                          </div>


                        <!-- Nav - menu -->
                         <div class="col l-9 m-0 c-0">
                            <div class="menu">
                                <div class="pc-menu">
                                    <ul>
                                        <li><a href="/">TRANG CHỦ</a></li>
                                        <li><a href="https://www.youtube.com/watch?v=fdskm9rO1sw" target="_blank">GIỚI THIỆU</a></li>
                                        <li><a href="">SẢN PHẨM <i class="fas fa-chevron-down"></i></a> 
                                            <ul class="drop-menu">
                                                <li > <a href="/ke-sieu-thi"> Giá Kệ Siêu Thị</a> </li>
                                                <li > <a href="/ke-kho"> Kệ Kho Hàng</a> </li>
                                               
                                                <li > <a href="/thiet-bi-sieu-thi" style="font-size: 18px;">Thiết Bị Siêu Thị </a> </li>  
                                            </ul>
                                        </li>
                                        <li><a href="/ho-tro">HỖ TRỢ</a></li>
                                        <li><a href="/tin-tuc">TIN TỨC</a></li>
                                        <li><a href="https://www.facebook.com/giakesiethigiare" target="_blank">LIÊN HỆ </a></li>            
                                    </ul>  
                                </div>
                            </div>
                         </div>

                        
                        </div>
                    </div>
                </div>
            </div>
        </div>




   