<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/app.css">
    <link rel="stylesheet" href="../css/grid.css">
    <link rel="stylesheet" href="../css/img.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/style-main.css">
    <link rel="stylesheet" href="../css/fontawesome-free-5.15.2-web/css/all.min.css">
    <link rel="shortcut icon" href="../img/logotp.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-M8ZFM79RQY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-M8ZFM79RQY');
    </script>

</head>

<body>
    <div class="app">
        <header> {{>header}}</header>
        <div class="grid">
           {{{body}}}
        </div>
        <footer>{{>footer}}</footer>
    </div>

</body>
</html>
